*{
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0px;
    padding: 0%;

    overflow: hidden;
    
}


/* /// Background Animation /// */

.bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3464px;
    margin: 0px;
    background-image: url(/Pics/Picsart_24-10-09_12-26-38-572.jpg);
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: bg-animation linear 180s infinite;
}

@keyframes bg-animation{
    from{
        background-position: 0px 0px;
    }

    to{
        background-position: 3464px 0px;
    }
}


/* /// Calculator Style /// */

button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 30%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: hsl(0, 30%, 40%);
}

button:active{
    background-color: hsl(0, 30%, 50%);
}

#keys{
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

/*
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
*/

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(92, 4, 22);
    width:290px;
    border-radius: 10px;
    margin: 50px;
    overflow: hidden;
    /* border: 5px rgb(92, 4, 22) solid; */
    border: none;

    -webkit-box-shadow: 0px 0px 20px 10px rgba(168,52,52,1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(168,52,52,1);
    box-shadow: 0px 0px 20px 10px rgba(168,52,52,1);

  /*  -webkit-box-shadow: 0px 0px 40px 20px rgba(120,22,22,0.75);
-moz-box-shadow: 0px 0px 40px 20px rgba(120,22,22,0.75);
box-shadow: 0px 0px 40px 20px rgba(120,22,22,0.75); */
}

#display{
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: default;
}

.operator-btn{
    background-color: hsl(39, 75%, 55%);
    color: rgb(30, 30, 30);
}
.operator-btn:hover{
    background-color: hsl(39, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(39, 100%, 75%);
}